.sort-ad__container {
  max-width: 700px;
  margin: auto;
  display: flex;

  .sort-by {
    display: flex;
    align-items: center;
    position: relative;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 34px;
      width: 150px;
      border: 1px solid;
    }

    .sort-dropdown {
      position: absolute;
      top: 35px;
      z-index: 10;
      background: white;
      border: 1px solid;
      width: calc(100% + 50px);
      padding: 15px;
    }
  }
}
