.apartments__container .ad-header__container {
  flex-direction: column;
  padding-top: 50px;
}

.apartments__container .ad-header__container .header__img {
  width: 100%;
  margin: 0;
  height: 143vw;
}

.apartments__container .ad-header__container .main-content {
  justify-content: flex-end;
  margin-top: 20px;
  border-top: 1px solid;
  width: 100%;
  padding: 13px;
}

.span-name {
  border: none;
  width: 95%;
  margin: auto;
  padding: 10px 0;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%);
  margin-top: 20px;
}

.left-side {
  height: fit-content;
  align-items: end;
}

@media (max-width: 560px) {
  .apartments__container {
    .ad-header__container {
      flex-direction: column;
      padding-top: 50px;

      .header__img {
        width: 100%;
        margin: 0;
        height: 143vw;
      }

      .main-content {
        justify-content: flex-end;
        margin-top: 20px;
        border-top: 1px solid;
        width: 100%;
        padding: 13px;

        .left-side {
          height: fit-content;
          align-items: end;
        }
        .rooms-and-floor{
          border: none;
          width: 95%;
          margin: auto;
          padding: 10px 0;
          box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%);
          margin-top: 20px;
        }
      }
      
    }
  }
}
