.paymentAndDates-container {
  margin: 10px 30px;

  .search-by-entry-date {
    justify-content: end;
  }
}

.paymentAndDates-container > span {
  display: block;
  margin: 20px 0;
  width: 210px;
}

@media (max-width: 680px){
    .paymentAndDates-container > span {
        width: 100%;
    }
}
