.address-input {
  margin: 10px 30px;
  .input-container {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin: 40px 0;
  }
  .floors-inputs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    input {
      width: auto;
    }

    .input-container {
      margin: 0;
      margin-left: 10px;
    }
  }
}

.choose-sub-category {
  background: #f5f5f5;
  margin: 0;
  padding: 70px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post-page__header > h3{
  margin: 0;
}

.post-page {
  position: relative;
  margin: 10px;
  width: 880px;
  padding: 10px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(12, 0, 51, 0.1);

  .edit {
    position: absolute;
    left: 3%;
    margin: 10px;
    color: #0000006e;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    background-color: #eee;
    cursor: pointer;

    .edit-icon {
      transform: rotate(80deg);
      display: inline-block;
      padding: 4px;
    }
  }
  .active{
    display: block;
  }
  .not-active{
    display: none;
  }
}

.autocomplete-result__post-ad {
  ul {
    list-style-type: none;
    padding: 0;
    font-size: 0.6rem;
    border: 1px solid #ccc;
    :hover {
      background: #ccc;
    }
  }
  li {
    cursor: pointer;
    font-size: 0.85rem;
    padding: 4px;
  }
}

.border-red {
  border: 1px solid red;
}

.buttonsNextPreviousWrap {
  display: flex;
  justify-content: space-between;

  span {
    height: 33px;
    padding: 0 25px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff7100;
    border: 1px solid #ff7100;
    font-size: 0.9rem;
    cursor: pointer;

    &:hover {
      background: #ff7100;
      color: white;
    }
  }
}

.post-page__header {
  display: flex;
  align-items: center;

  h3 {
    font-weight: 100;
    font-size: 1.6rem;
  }

  p {
    padding: 0;
    margin: 0;
  }

  span {
    display: flex;
    height: 28px;
    width: 28px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid #ccc;
  }

  .valid-input {
    background-color: #d6f2e4;
    color: #0fca80;
    border: none;
    p {
      display: none;
    }
    &::after {
      content: "\2714";
    }
  }
}

.warning-message {
  color: red;
  display: block;
}

@media (max-width: 850px) {
  .choose-sub-category {
    padding-top: 20px;
  }
  .post-page {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
@media (max-width: 680px) {
  .address-input .input-container {
    max-width: 100%;
  }
}
