.row-select {
    display: flex;
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    span {
      height: 40px;
      width: 40px;
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid black;
      cursor: pointer;
    }
  
    .option-selected {
      background: #eee;
      &:hover {
        background: #ccc;
      }
    }
  
    .option {
      &:hover {
        color: #ff7100;
      }
    }
    span:nth-child(1) {
      border: none;
      border-radius: 0 5px 5px 0;
    }
    span:nth-child(4) {
      border-radius: 5px 0 0 5px;
    }
  }
  