.login-component {
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #373737;
    opacity: 0.6;
  }
}

.login-inactive {
  z-index: -1;
  opacity: 0;
  .login-container__container {
    transform: scale(0.9);
  }
}

.login-active {
  opacity: 1;
  z-index: 10;
  .login-container__container {
    transition: all 0.5s;
    transform: scale(1);
  }
}

.login-container__container {
  position: relative;
  width: 740px;
  z-index: 10;

  .close {
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 11px;
    width: 30px;
    height: 32px;
    opacity: 0.8;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 20px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}

.login-component__main {
  display: flex;
  width: 740px;
  min-height: 430px;
}

.login-component__right {
  background: linear-gradient(229.5deg, #fa0, #ff7100);
  width: 290px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  color: white;

  h2 {
    margin: 0px;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 1;
  }

  p {
    font-size: 1.4rem;
    margin: 0;
  }

  .login__welcome {
    img {
      height: 115px;
      width: 225px;
    }
  }
}

.login-component__left {
  background: white;
  display: flex;
  width: 100%;
  flex-direction: column;

  .connect {
    text-align: right;
    padding: 10px 75px 10px 0;
    h2 {
      margin: 0;
      color: #616161;
      font-weight: 100;
    }
    p {
      font-size: 0.9rem;
      margin: 0;
      color: #61616194;
    }
  }

  form {
    text-align: right;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 75px;

    .input__container {
      margin-bottom: 20px;

      i {
        color: green;
        font-weight: 600;
      }

      p {
        margin: 0;
      }

      .warning-message__not-active {
        color: #ff2a2b;
        transform: translateX(-40px);
        transition: all 1s;
        opacity: 0;
        position: absolute;
      }

      .warning-message__active {
        opacity: 1;
        transform: translateX(0px);
      }
    }

    .input__box {
      border: 1px solid #ccc;
      border-radius: 4px;
      display: flex;
      align-items: center;

      img {
        height: 15px;
        margin: 13px 8px 8px 8px;
        cursor: pointer;
      }
    }

    .valid-input {
      border: 1px solid green;
    }

    .invalid-input {
      border: 1px solid #ff2a2b;
    }

    input {
      height: 40px;
      width: 100%;
      text-align: right;
      border: 0;
      padding: 0 15px;
      font-size: 1rem;
      font-weight: 300;
      font-family: Rubik, sans-serif;
      border-radius: 4px;

      &:focus {
        outline: none;
      }
    }
  }

  .login-form__nav {
    div {
      text-align: center;
      cursor: pointer;
      margin-top: 12px;

      b {
        color: #ff7100;
      }
    }

    button {
      color: #fff;
      height: 40px;
      width: -webkit-fill-available;
      box-sizing: content-box;
      border-radius: 5px;
      cursor: pointer;
      background: #eeeeee;
      border: 1px solid #cccccc;
      background: #ff7100;

      &:hover {
        background: #d2620a;
      }
    }

    button:disabled {
      color: #ccc;
      background: #eeeeee;
      border: 1px solid #cccccc;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}

@media (max-width: 850px) {
  .login-component {
    width: -webkit-fill-available;
  }

  .login-container__container {
    flex-grow: 1;
    width: auto;
  }

  .login-component__main {
    flex-direction: column;
    width: auto;
    height: 100vh;

    .login-component__right {
      flex-direction: row;
      width: auto;
      padding: 15px;

      .welcome-text__container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
          display: none;
        }

        h2 {
          font-size: 1.8rem;
          line-height: 1.6;
        }
        p {
          font-size: 1rem;
        }
      }
      .login__welcome {
        display: flex;
        align-items: center;

        img {
          height: 20vw;
          width: auto;
        }
      }
    }

    .login-component__left {
      flex-grow: 1;

      .connect {
        padding-right: 2rem;
      }

      form {
        margin: 2rem;
        margin-bottom: 12px;
        justify-content: space-between;

        input,
        button {
          height: 50px;
        }
      }
    }
  }
}

.forget-password {
  text-align: end;
  color: #ff7100;
  cursor: pointer;
  margin: 0;
  position: relative;
  top: -20px;
}

.signup-second-step {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.363);
  }
  .checkbox-element{
    margin: 8px 0;
    b{
      color: #ff7100ed;
      font-weight: 500;
    }
  }

  .login-form__nav{
    margin-bottom: 20px;
  }
  .birth-date {
    position: relative;
    width: 240px;
    border: 1px solid #ccc;

  
    span {
      position: absolute;
      margin: auto;
      padding: 10px;
    }
    
    ::-webkit-datetime-edit-fields-wrapper {
      display: none;
    }
    ::-webkit-calendar-picker-indicator {
      padding-right: 150px;
    }
  }
}
